<script>
var settings ={
  baseUrl: 'https://www.smu.edu.sg',
  hostUrl: 'https://www.smu.edu.sg',
  endpoint: '/api/research/stories',
  filterList: [
    { label: "All Schools", value: ""},
    { label: "School of Accountancy", value: 161},
    { label: "Lee Kong Chian School of Business", value: 162},
    { label: "School of Economics", value: 164},
    { label: "School of Information Systems", value: 165},
    { label: "School of Law", value: 163},
    { label: "School of Social Sciences", value: 166}
  ],
  filterKey: 'schools[]'
}

app
.value('researchSettings', settings)
.controller('ResearchCtrl', ['$scope', '$http', 'researchSettings', function($scope, $http, settings) {
  $scope.results = [];

  $scope.baseUrl = settings.baseUrl;
  $scope.hostUrl = settings.hostUrl;
  $scope.settings = settings;
  $scope.filterValue = $scope.settings.filterList[0].value;

  $scope.getResults = function(){
    $scope.results = [];
    var query = settings.baseUrl+settings.endpoint+'?callback=JSON_CALLBACK';

    if($scope.filterValue != ""){
      query += "&"+$scope.settings.filterKey+'='+$scope.filterValue;
    }

console.log("Query", query);

    $http.jsonp(query)
    .success(function(res, status){
      $scope.results = res;
    })
    .error(function(res, status) {
      console.log("Err", res);
    });
  }

  $scope.getResults();

}]);
</script>

<!-- View -->
<div class="whitebox">
  <div class="webpart-listings" ng-controller="ResearchCtrl">
    <div class="filter-wrapper">
      <select class="filter" ng-model="filterValue" ng-change="getResults()" ng-options="item.value as item.label for item in settings.filterList"></select>
    </div>
    <div ng-show="results.length > 0">
      <ul class="results">
        <li ng-repeat="r in results">
          <div class="row">
            <a class="readmore" href="{{hostUrl}}/node/{{r.nid}}" target="_blank">
              <div class="picture span3">
                <img src="{{r.picture}}"/>
              </div>
              <div class="content span3">
                <div class="content-inner">
                  <div class="node-title">{{r.node_title}}</div>
                  <div class="date">{{r.date | amDateFormat:'DD MMM YYYY'}}</div>
                  <div class="node-content">{{r.body | stripTags}}</div>
                  <!-- <a class="readmore" href="{{baseUrl}}/node/{{r.nid}}" target="_blank">Read more</a> -->
                </div>
              </div>
            </a>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="viewall-wrapper"><a class="viewall" href="http://research.smu.edu.sg/smuresearch" target="_blank">View More</a></div>
    </div>
    <div class="loading" ng-show="results.length == 0"></div>
  </div>
</div>
<!-- /View -->
