<script>
app
.controller('PodcastsCtrl', ['$scope', '$http', '$sce', function($scope, $http, $sce) {

  var clientId = "46f523fab0f8887bc595476bfb80dfa9";
  var userId = "37547758";
  $scope.limit = 3;
  $scope.page = 0;
  $scope.results = [];

  $scope.getResults = function(e){
    $scope.loading = true;

    $http.get("https://api.soundcloud.com/users/"+userId+"/tracks?linked_partitioning=1&limit="+$scope.limit+"&offset="+$scope.page+"&client_id="+clientId,
    {
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .success(function(res, status){
      $scope.results = res.collection;
      console.log("Podcasts", $scope.results);
      angular.forEach($scope.results, function(p, k){
        $scope.results[k].widget = "https://w.soundcloud.com/player/?url="+p.uri+"&amp;color=00467f&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false";
      });
      $scope.loading = false;
    })
    .error(function(res, status) {
      console.log("Err", res);
      $scope.loading = false;
    });
  }
  $scope.getResults();
}]);
</script>

<!-- Webpart -->
<div class="webpart-listings webpart-podcasts" ng-controller="PodcastsCtrl">
  <div class="loading" ng-show="loading"></div>
  <div ng-show="!loading">
    <ul>
      <li ng-repeat="p in results">
        <div class="title">{{p.title}}</div>
        <div class="description">{{p.description}}</div>
        <div class="datetime" am-time-ago="p.created_at"></div>
        <iframe title="{{p.title}}" width="100%" height="95" ng-src="{{ p.widget | trustAsResourceUrl }}" frameborder="0"></iframe>
      </li>
    </ul>
    <div class="list-actions">
      <div class="fr pagination">
        <a class="btn" ng-click="page=page-limit;getResults();" ng-hide="page==0">Previous</a>
        <a class="btn" ng-click="page=page+limit;getResults();" ng-hide="results.length < limit">Next</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!-- /Webpart -->
