<script>
app
.controller('YoutubeCtrl', ['$scope', '$http', '$sce', function($scope, $http, $sce) {
$scope.getResults = function(e){
  $scope.results = [];
  $scope.limit = 3;
  // var offset = ($scope.page - 1) * $scope.itemsPerPage;
  // var query = $scope.baseUrl+settings.endpoint+'?limit='+$scope.itemsPerPage+'&offset='+offset+'&callback=JSON_CALLBACK';
  $http.get("https://www.googleapis.com/youtube/v3/search?part=snippet&type=video&order=date&channelId=UCkv980lbtBCyZtRy3YiRFsA&maxResults="+$scope.limit+"&key=AIzaSyBL5aINWYdevRFW0L5U2MWk0TJIso4pKWg")
  .success(function(res, status){
    $scope.results = res.items;
    console.log("Youtube results", res);
  })
  .error(function(res, status) {
    console.log("Err", res);
  });
}
$scope.getResults();
}]);
</script>
<!-- View -->
<div class="webpart-listings events smutab-content smutab-content-active wide" ng-controller="YoutubeCtrl">
  <div ng-show="results.length > 0">
    <ul class="results">
      <li ng-repeat="r in results">
        <div class="row-fluid">
          <div class="picture span2">
            <a href="https://youtu.be/{{r.id.videoId}}" target="_blank"><img src="{{r.snippet.thumbnails.medium.url}}"/></a>
          </div>
          <div class="content span10">
            <div class="node-title"><a href="https://youtu.be/{{r.id.videoId}}" target="_blank">{{r.snippet.title}}</a></div>
            <div class="date">{{r.snippet.publishedAt | amDateFormat:'DD MMM YYYY'}}</div>
            <div class="node-content">
              <span ng-show="r.snippet.description.length > 0">{{r.snippet.description}}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <!-- <div class="list-actions">
      <div class="fl">
        <a class="btn btn-link" href="{{hostUrl}}/news/all" target="_blank">View All</a>
      </div>
      <div class="fr pagination">
        <a class="btn" ng-click="page = page - 1; getResults($event);" ng-show="page > 1">Previous</a>
        <a class="btn" ng-click="page = page + 1; getResults($event);" ng-show="results.length >= itemsPerPage">Next</a>
      </div>
      <div class="clear"></div>
    </div> -->
  </div>
  <div class="loading" ng-show="results.length == 0"></div>
</div>
<!-- /View -->
