<script>
app
.controller('QuotesCtrl', ['$scope', '$http', '$sce', 'FeedService', function($scope, $http, $sce, Feed) {
$scope.quote = "";
$scope.getResults = function(){
  var feedSource = "http://feeds.feedburner.com/brainyquote/QUOTEBR";
  Feed.parseFeed(feedSource).then(function (res) {
    var quotes = res.data.responseData.feed.entries;
    var r = Math.floor((Math.random() * (quotes.length)) + 0);
    // Comment to randomize quote
    var r = 0;
    $scope.quote = quotes[r];
  });
}
$scope.getResults();
}]);
</script>
<div ng-controller="QuotesCtrl">
  <div class="quote" ng-show="quotes != ''">
    <div class="content">{{quote.content}}</div>
    <div class="author" align="right"><p>~ {{quote.title}}</p></div>
  </div>
</div>
