<script>
app
.value('eventsSettings', {
  // hostUrl: "http://www.trumba.com",
  // endpoint:'/calendars/SMU_SG_PH.rss',
  hostUrl: "https://www.smu.edu.sg",
  endpoint:'/api/smu/events',
  itemsPerPage: 3
})
.value('newsSettings', {
  hostUrl: "https://www.smu.edu.sg",
  endpoint:'/api/smu/news',
  itemsPerPage: 3
})
.value('portalNewsSettings', {
  endpoint:'/_vti_bin/RemoteNewsService.svc/GetPortalNewsByLimit',
  itemsPerPage: 3
})
.controller('NewsCtrl', ['$scope', '$http', 'User', 'Util', 'newsSettings', function($scope, $http, User, Util, settings) {
  $scope.settings = settings;
  $scope.page = 1;
  $scope.configQuery = "";

  console.log("User", User.getEmail());

  $scope.getResults = function(e){
    if(e) e.preventDefault();
    $scope.loading = true;
    $scope.results = [];
    var offset = ($scope.page - 1) * $scope.settings.itemsPerPage;
    var query = $scope.settings.hostUrl+$scope.settings.endpoint+'?limit='+$scope.settings.itemsPerPage+'&offset='+offset+$scope.configQuery+'&callback=JSON_CALLBACK';
    console.log("Query", query);
    $http.jsonp(query)
    .success(function(res, status){
      console.log("News results", res);
      $scope.results = res;
      $scope.loading = false;
    })
    .error(function(res, status) {
      $scope.loading = false;
      console.log("Err", res);
    });
  }

  Util.getConfig('/_vti_bin/RemoteNewsService.svc/GetRSSFeeds', "&school[]=", function(err, configQuery){
    if(err) return console.log("Config err", err);
    $scope.configQuery = configQuery;
    $scope.getResults();
  });

}])
.controller('EventsCtrl', ['$scope', '$http', 'FeedService', 'Util', 'eventsSettings', function($scope, $http, Feed, Util, settings) {
  $scope.settings = settings;
  $scope.Util = Util;
  $scope.page = 1;
  $scope.configQuery = "";

  $scope.getResults = function(e){
    if(e) e.preventDefault();
    $scope.loading = true;
    $scope.results = [];
    var offset = ($scope.page - 1) * $scope.settings.itemsPerPage;
    var query = $scope.settings.hostUrl+$scope.settings.endpoint+'?limit='+$scope.settings.itemsPerPage+'&offset='+offset+$scope.configQuery+'&callback=JSON_CALLBACK';
    console.log("Query", query);
    $http.jsonp(query)
    .success(function(res, status){
      console.log("Events results", res);
      $scope.results = res;
      $scope.loading = false;
    })
    .error(function(res, status) {
      $scope.loading = false;
      console.log("Err", res);
    });
  }

  Util.getConfig('/_vti_bin/RemoteNewsService.svc/GetiCalEvents', "&school[]=", function(err, configQuery){
    if(err) return console.log("Config err", err);

    // var feedSource = $scope.settings.hostUrl+$scope.settings.endpoint;
    // Feed.parseFeed(feedSource).then(function (res) {
    //   console.log("Feeds", res);
    //   $scope.results = res.data.responseData.feed.entries;
    //   $scope.loading = false;
    // });

    $scope.configQuery = configQuery;
    $scope.getResults();

  });

}])
.controller('PortalNewsCtrl', ['$scope', '$http', 'User', 'Util', 'portalNewsSettings', function($scope, $http, User, Util, settings) {
  $scope.Util = Util;
  $scope.settings = settings;
  $scope.page = 1;

  $scope.getResults = function(e){
    if(e) e.preventDefault();
    $scope.results = [];
    $scope.loading = true;
    var offset = ($scope.page - 1) * $scope.settings.itemsPerPage;
    var query = $scope.settings.endpoint+'?userid='+User.getEmail()+'&limit='+$scope.settings.itemsPerPage+'&offset='+offset;
    console.log("Portal News Query", query);
    $http.get(query)
    .success(function(res, status){
      $scope.results = res;
      $scope.loading = false;
      console.log("Portal News results", res);
    })
    .error(function(res, status) {
      $scope.loading = false;
      console.log("Err", res);
    });
  }

  $scope.getResults(null);

}]);
</script>

<!-- Webpart -->
<div id="smu-horizontalTab" class="news-tabs" style="display: block; width: 100%; margin: 0px;">
<ul class="smu-tabs-list">
<li class="tab-news">Latest News</li>
<li class="tab-events">Upcoming Events</li>
<li class="tab-portal-news">Portal News</li>
</ul>

<div class="SMUNewsGearIcon">
  <a href="/_layouts/15/SMU-NewsAndEvents/RSSFeedUserConfig.aspx" title="Customise Your News and Events" data-target=".header-hidden">
    <img src="/_catalogs/masterpage/inetSMU/img/customize_gear.png">
  </a>
</div>

<div class="smu-tabs-container news-container">


<!-- View -->
    <div class="webpart-listings wide" ng-controller="NewsCtrl">
      <div align="center" ng-show="!loading && results.length == 0">
        No results. <a href="/_layouts/15/SMU-NewsAndEvents/RSSFeedUserConfig.aspx">Click here</a> to personalize your News Feeds.
      </div>
      <div ng-show="!loading">
        <ul class="results">
          <li ng-repeat="r in results">
            <div class="row-fluid">
              <div class="picture span2">
                <img src="{{r.picture}}" ng-hide="r.picture.length == 0"/>
                <img src="https://www.smu.edu.sg/sites/default/files/smu/smu_default_news.jpg" ng-show="r.picture.length == 0"/>
              </div>
              <div class="content span10">
                <div class="node-title"><a href="https://{{r.domain | domainify}}.smu.edu.sg/node/{{r.nid}}" target="_blank">{{r.node_title}}</a></div>
                <div class="date">{{r.date | amDateFormat:'DD MMM YYYY'}}</div>
                <div class="node-content">
                  <span ng-show="r.body.length > 0">{{r.body | stripTags | truncate: 240: '...' }}</span>
                  <span ng-show="r.body.length == 0">
                    <!-- No description available. -->
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="list-actions">
          <div class="fl">
            <a class="btn btn-link" href="https://www.smu.edu.sg/news/all" target="_blank">View All SMU News</a>
          </div>
          <div class="fr pagination">
            <a class="btn" ng-click="page = page - 1; getResults($event);" ng-show="page > 1">Previous</a>
            <a class="btn" ng-click="page = page + 1; getResults($event);" ng-show="results.length >= settings.itemsPerPage">Next</a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="loading" ng-show="loading"></div>
    </div>
<!-- /View -->

<div>
  <!-- View -->
  <div class="webpart-listings events" ng-controller="EventsCtrl">
    <div align="center" ng-show="!loading && results.length == 0">
      No results. <a href="/_layouts/15/SMU-NewsAndEvents/iCalEventsUserConfig.aspx">Click here</a> to personalize your Events Feeds.
    </div>
    <div ng-show="!loading">

      <!-- For Trumba events -->
      <!-- <ul class="results">
        <li ng-repeat="r in results">
          <div class="row-fluid">
            <div class="date span2">
              <div class="iCalThumbMain">
                <div class="iCalThumbMonth">{{r.categories[0].substr(0,10) | amDateFormat:'MMM'}}</div>
                <div class="iCalThumbDay">{{r.categories[0].substr(0,10) | amDateFormat:'DD'}}</div>
                <div class="iCalThumbYear">{{r.categories[0].substr(0,10) | amDateFormat:'YYYY'}}</div>
              </div>
            </div>
            <div class="content span10">
              <div class="node-title"><a href="{{r.link}}" target="_blank">{{r.title}}</a></div>
              <div class="node-content">
                <span ng-show="r.contentSnippet.length > 0" ng-bind-html="Filter.filterHtml(r.contentSnippet)"></span>
                <span ng-show="r.contentSnippet.length == 0">No description available.</span>
              </div>
            </div>
          </div>
        </li>
      </ul> -->

      <ul class="results">
        <li ng-repeat="r in results">
          <div class="row-fluid">
            <div class="date span2">
              <div class="iCalThumbMain">
                <div class="iCalThumbMonth">{{r.date[0].value | amDateFormat:'MMM'}}</div>
                <div class="iCalThumbDay">{{r.date[0].value | amDateFormat:'DD'}}</div>
                <div class="iCalThumbYear">{{r.date[0].value | amDateFormat:'YYYY'}}</div>
              </div>
            </div>
            <div class="content span10">
              <div class="node-title"><a href="https://{{r.domain | domainify}}.smu.edu.sg/node/{{r.nid}}" target="_blank">{{r.node_title}}</a></div>
              <div class="node-content">
                <!-- <span ng-show="r.body.length > 0">{{r.body | stripTags}}</span>
                <span ng-show="r.body.length == 0"></span> -->
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="list-actions">
        <div class="fl">
          <a class="btn btn-link" href="https://www.smu.edu.sg/events/all" target="_blank">View All SMU Events</a>
        </div>
        <div class="fr pagination">
          <a class="btn" ng-click="page = page - 1; getResults($event);" ng-show="page > 1">Previous</a>
          <a class="btn" ng-click="page = page + 1; getResults($event);" ng-show="results.length >= settings.itemsPerPage">Next</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="loading" ng-show="loading"></div>
  </div>
  <!-- /View -->
</div>

<div>
<!-- View -->
<div class="webpart-listings events portal-news" ng-controller="PortalNewsCtrl">
  <div align="center" ng-show="!loading && results.length == 0">
    No results. <a href="/_layouts/15/SMU-NewsAndEvents/PortalNewsUserConfig.aspx">Click here</a> to personalize your Portal News.
  </div>
  <div ng-show="!loading">
    <ul class="results">
      <li ng-repeat="r in results">
        <div class="row-fluid">
          <div class="picture span2">
            <img src="{{r.picture}}" ng-hide="r.picture.length == 0"/>
            <img src="https://www.smu.edu.sg/sites/default/files/smu/smu_default_news.jpg" ng-show="r.picture.length == 0"/>
          </div>
          <div class="content span10">
            <div class="node-title" ng-show="r.linkurl != ''"><a ng-href="{{r.linkurl}}" target="_blank">{{r.node_title}}</a></div>
            <div class="date">{{r.date | amDateFormat:'DD MMM YYYY'}}</div>
            <div class="node-content">
              <span ng-show="r.linkurl == ''" ng-bind-html="Util.filterHtml(r.body)"></span>
              <span ng-show="r.linkurl != '' && r.body.length > 0">{{r.body | stripTags | truncate: 240: '...'}}</span>
              <span ng-show="r.body.length == 0"></span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="list-actions">
      <div class="fr pagination">
        <a class="btn" ng-click="page = page - 1; getResults($event);" ng-show="page > 1">Previous</a>
        <a class="btn" ng-click="page = page + 1; getResults($event);" ng-show="results.length >= settings.itemsPerPage">Next</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="loading" ng-show="loading"></div>

</div>
<!-- /View -->
</div>

</div>
</div>
<!-- /Webpart -->
